@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 23% 83%;
    --foreground: 20 14.3% 4.1%;
    --card: 43 23% 88%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 43 23% 88%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 135 22% 33%;
    --primary-foreground: 60 93.3% 97.1%;
    --secondary: 43 20% 78%;
    --secondary-foreground: 135 22% 33%;
    --muted: 43 20% 78%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 25 74% 31%;
    --accent-foreground: 60 93.3% 97.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 93.3% 97.1%;
    --border: 43 18% 75%;
    --input: 43 20% 80%;
    --ring: 135 22% 33%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 195 11% 20%;
    --foreground: 43 23% 83%;
    --card: 180 11% 28%;
    --card-foreground: 43 23% 83%;
    --popover: 180 11% 28%;
    --popover-foreground: 43 23% 83%;
    --primary: 135 22% 43%;
    --primary-foreground: 60 93.3% 97.1%;
    --secondary: 180 11% 25%;
    --secondary-foreground: 43 23% 83%;
    --muted: 180 11% 25%;
    --muted-foreground: 43 15% 65%;
    --accent: 25 74% 41%;
    --accent-foreground: 60 93.3% 97.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 93.3% 97.1%;
    --border: 180 11% 25%;
    --input: 180 11% 25%;
    --ring: 135 22% 43%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}
