@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 5% 94%; /* #F0EFEF */
    --foreground: 105 5% 15%; /* #252924 */
    --card: 0 5% 94%; /* #F0EFEF */
    --card-foreground: 105 5% 15%; /* #252924 */
    --popover: 0 5% 94%; /* #F0EFEF */
    --popover-foreground: 105 5% 15%; /* #252924 */
    --primary: 110 11% 31%; /* #475844 */
    --primary-foreground: 145 44% 93%; /* #E5F2EA */
    --secondary: 98 5% 58%; /* #8E978B */
    --secondary-foreground: 105 5% 15%; /* #252924 */
    --muted: 98 5% 58%; /* #8E978B */
    --muted-foreground: 105 5% 35%;
    --accent: 110 11% 31%; /* #475844 */
    --accent-foreground: 145 44% 93%; /* #E5F2EA */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 5% 89%;
    --input: 0 5% 89%;
    --ring: 110 11% 31%; /* #475844 */
    --radius: 0.75rem; /* Increased for a more modern feel */
  }

  .dark {
    --background: 180 25% 12%; /* #182727 */
    --foreground: 145 44% 93%; /* #E5F2EA */
    --card: 180 13% 28%; /* #3D5252 */
    --card-foreground: 145 44% 93%; /* #E5F2EA */
    --popover: 180 13% 28%; /* #3D5252 */
    --popover-foreground: 145 44% 93%; /* #E5F2EA */
    --primary: 119 13% 61%; /* #90A88F */
    --primary-foreground: 105 5% 15%; /* #252924 */
    --secondary: 180 13% 28%; /* #3D5252 */
    --secondary-foreground: 145 44% 93%; /* #E5F2EA */
    --muted: 180 13% 28%; /* #3D5252 */
    --muted-foreground: 145 44% 65%;
    --accent: 119 13% 61%; /* #90A88F */
    --accent-foreground: 105 5% 15%; /* #252924 */
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 13% 33%;
    --input: 180 13% 33%;
    --ring: 119 13% 61%; /* #90A88F */
    --radius: 0.75rem; /* Increased for a more modern feel */
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}
